*.sw*
bower_components
.gitreview
components
node_modules
temp
dist
.tmp
app/bower_components
*.sublime*
app/docs/*
*.log
.settings
/.buildpath
/.project
app/ShopV4/*
*.orig
nohup.out
*.DS_Store
.idea
app/js/modules/.git
/.externalToolBuilders/
test/selenium/*
package.xml
.stats/
true/
.vagrant/
build/
*.aux
*.idx
*.toc
emails/app/tmp/cache/models
emails/app/tmp/cache/persistent
emails/app/tmp/cache/views
emails/app/tmp/logs
emails/app/tmp/sessions
emails/app/tmp/tests
emails/vendor
emails/app/Vendor
!emails/app/Vendor/AccessoServices